
# Large Bitcoin address datasets
*.zip
server1_full_addresses.txt
server1_addresses_only.txt
funded_addresses_only.txt
bitcoin_addresses_sorted.txt.gz
server3_full_addresses.txt cat .gitignore
check_feexv.py git add .gitignore
